@keyframes slideInFromTop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes asideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animForMap {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
