%int-400{
  font-family: "Inter", sans-serif;
  font-weight: 400;
} 
%int-500{
  font-family: "Inter", sans-serif;
  font-weight: 500;
} 
%int-600{
  font-family: "Inter", sans-serif;
  font-weight: 600;
} 
%int-700{
  font-family: "Inter", sans-serif;
  font-weight: 700;
} 